<h1>New Engine</h1>

<%= form_for :engine, url: engines_path() do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :model_num %><br>
    <%= f.text_field :model_num %>
  </p>
  <p>
    <%= f.label :manufacturer %><br>
    <%= f.text_field :manufacturer %>
  </p>
  <p>
    <%= f.label :tax %><br>
    <%= f.text_field :tax %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>    
