<h1>New Planet</h1>

<%= form_for :planet, url: planets_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :system %><br>
    <%= f.text_field :system %>
  </p>
  <p>
    <%= f.label :tax_rate %><br>
    <%= f.text_field :tax_rate %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>    
