<!DOCTYPE html>
<html>
<head>
  <title>Gsr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
 <%= render partial: "layouts/header" %>
=======
<%= render partial: "layouts/header" %>
>>>>>>> 1fb81cedf1cc804c13f279749839bef382707d41

</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
<%= yield %>
</body>
</html>
